<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <title>Vidbrary</title>
    </head>
    <body>
        <div class="background">
            <nav>
                <a class="link header" href="/">Vidbrary</a>
                <ul class="list">
                    <li class="list-item"><a class="link" href="/search/movie">Search for Movies</li>
                    <li class="list-item"><a class="link" href="/search/serie">Search for Series</li>
                    <li class="list-item"><a class="link" href="/movies">Movies</a></li>
                    <li class="list-item"><a class="link" href="/movies/new">Add Movie</a></li>
                    <li class="list-item"><a class="link" href="/series">Series</a></li>
                    <li class="list-item"><a class="link" href="/series/new">Add Series</a></li>
                </ul>
            </nav>
            <%- body %>
        </div>
    </body>
</html>